
#outerlayer{

	height: 120px;
	width: 1000px;
	border: 5px solid blue;
	border-radius: 5px;
	display:block;
	background-color:blue;
	margin: -20px, 0, 0, 0;
	padding 0px 0px 0px 0px;
}

div {
			
	height: 100px;
	width: 80%;
	border: 3px solid white;
	border-radius: 5px;
	display:block;
	background-color:blue;
	margin:auto ;
	padding 0px 0px 0px 0px;
	

	font-family:Impact;
	color:white;
	text-align:center;
	font-size:70px;
}


img{

	margin: 0 0 0 0;
	display:inline-block;	

}
